* {
    margin: 0%;
}

body {
    background-color: rgb(252, 255, 96);
    color: rgb(88, 0, 0);
    border: 5px solid rgb(255, 88, 116);
    border-radius: 10px;
    text-align: center;
}

header h3 {
    padding-top: 5%;
    text-align: center;
    font-size: 35px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 328px;
    padding-top: 5%;
    margin-bottom: 5.85%;
}

table tr th {
    width: 40%;
    padding-left: 20%;
    font-size: 30px;
}

table tr td {
    width: 60%;
    padding-right: 35%;
}

#insert {
    font-size: 20px;
    padding: 10px;
    padding-right: 12px;
    border-radius: 10px;
    background-color: #79ff61;
}

#insert:hover {
    background-color: #4cff2c;
}

#insert:focus {
    border: 3px solid green;
    border-top: 4px solid green;
    border-left: 4px solid green;
}

.container {
    height: 70px;
    padding-right: 60%;
}

#name,
#age,
#address {
    margin: 0%;
    font-size: 25px;
    background-color: #f3d3ff;
}

h4 {
    position: relative;
    padding: 4px;
    display: inline;
    bottom: 105px;
    left: 100px;
    color: #169200;
    font-size: 20px;
}